*{
    padding: 0;
    margin: 0;
}
.head {
    width: 1195px;
    height: 240px;
    background-image: 
    url(./Ảnh/lala.jfif) ;
    margin: 40px;
    background-size: cover;
    padding: 15px  0px;
    border-radius: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
hr {
    border-right: 1.5px solid black;
}
.son1 {
    margin-bottom: 20px;
}
.son2 {
    margin-bottom: 20px;
}
.son3 {
    margin-bottom: 20px;
}
.name {
    margin-top: 20px;
    margin-bottom:15px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.you_name {
    margin: 1%;
    font-family: cursive;
    color: fuchsia;
}

.img {
    border-radius: 999px;
    width: 150px;
    height: 150px;
}
.d1{
    margin-bottom: 20px;
    margin-top: 10px;
}
.d1 h3{
    margin-bottom: 5px;
}
.d2 h3 {
    margin-bottom: 5px;
}
.d3 {
    margin-top: 30px;
}
.mom h2 {
    border-top: 2px solid maroon;
    border-bottom: 2px solid maroon;
    text-align: center;
}
.son1 h2 {
    border-top: 2px solid maroon;
    border-bottom: 2px solid maroon;
    text-align: center;
}
.son2 h2 {
    border-top: 2px solid maroon;
    border-bottom: 2px solid maroon;
    text-align: center;
}
.son3 h2 {
    border-top: 2px solid maroon;
    border-bottom: 2px solid maroon;
    text-align: center;
}
a{
    text-decoration: none;
    color: pink;
}
h2 {
    padding: 3px;
    background-color: antiquewhite;
}
ul {
    margin-top: 3px;
    margin-left: 15px;
}
ol {
    margin-top: 3px;
    margin-left: 15px;
}
.ul1{
    list-style: none;
    margin-left: 0px;
    font-family: cursive;
    color: pink;
}
